<div class="container mb-2">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">

      <div class="accordion-button titile-box border border-1 d-flex p-2 accordion-header" id="headingOne" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span class="border border-danger bg-danger border-5 pe-1 me-2" style="display: inline-block; height: 38.39px;"></span>
          <h2 class="mb-0">Recently Canceled Bookings</h2>
      </div>

      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="d-flex row justify-content-around flex-wrap p-2 accordion-body">
        <h5 class="ms-5 mt-3"><%= "There is no bookings in this field." if @bookings.length == 0 %></h5>
          <% @bookings.each do |booking| %>
            <% if booking.status == "canceled" %>
              <div class="card mb-3 position-relative" style="max-width: 540px;">
                <div class="d-flex row g-0">
                  <div class="card m-2 col-md-4">
                    <%= image_tag "https://source.unsplash.com/200x200/?food #{booking.lesson.name}" %>
                    <div class="card-body position-relative">
                      <div class="text-center">
                        <h5 class="card-title mb-0"><%= booking.lesson.name %></h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <div class="booking-time">
                        <h5 class="mb-0 card-title"><%= booking.start_date.to_s.split(" ")[0] %> <%= booking.start_time.to_s.split(" ")[1] %></h5>
                      </div>

                      <hr class="mt-1">

                      <div class="booking-detail">
                        <div class="lesson-tags">
                          <ul class="p-0 d-flex flex-wrap">
                            <li class="d-inline me-1 mb-1 tag"><i class="fa fa-solid fa fa-person me-1"></i> <%= booking.lesson.capacity %></li>
                            <li class="d-inline me-1 mb-1 tag"><i class="fa-solid fa-utensils me-1"></i> <%= booking.lesson.cuisine_genre %> food</li>
                            <li class="d-inline me-1 mb-1 tag"><i class="fa fa-solid fa fa-clock me-1"></i> <%= booking.lesson.lesson_length_minutes %> min</li>
                          </ul>
                        </div>
                        <h5 class="text-end"><strong>$<%= booking.lesson.fee %></strong> / person</h5>
                        <h5 class="text-end"><strong><i class="fa-solid fa-user"></i> Number of participants:</strong> <%= booking.participants %></h5>
                      </div>

                      <hr class="mt-1">

                      <div class="action-buttons d-flex justify-content-end">
                          <%= link_to 'LESSON DETAIL', lesson_path(booking.lesson), class: "btn btn-primary" %>
                          <%# <%= link_to 'DELETE', edit_booking_path(booking) %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="position-absolute top-0 start-0" style="width: 100%; height: 100%; background-color: black; opacity: 0.3;">
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
