<div class="lists-container">
  <div class="container">
    <% @bookings.each do |booking| %>
      <% if booking.status == "pending" || booking.status == "rejected" %>
      <hr>
        <div class="list p-1 d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-center align-items-center">
            <h5 class="mb-0 card-title" style="width:200px;"><%= booking.start_date.to_s.split(" ")[0] %> <%= booking.start_time.to_s.split(" ")[1][0..4] %></h5>
            <h6 class="p-2 text-white text-center <%= "bg-success" if booking.status == "pending" %>  <%= "bg-secondary" if booking.status == "rejected" %>" style="width: 100px;">
              <%= "Pending" if booking.status == "pending" %>
              <%= "Rejected" if booking.status == "rejected" %>
            </h6>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <h5 class="card-title mb-0 me-3"><%= booking.lesson.name %></h5>
            <h5 class="mb-0 me-3"><strong><i class="fa-solid fa-clipboard-user"></i> </strong> <%= booking.lesson.user.first_name %></h5>
            <h5 class="mb-0 me-3"><strong><i class="fa-solid fa-user"></i> </strong> <%= booking.participants %></h5>

            <%= link_to 'Details', lesson_path(booking.lesson), class: "btn btn-success me-2" %>
            <%= link_to 'Cancel', cancel_booking_path(booking), data: {turbo_method: :cancel, turbo_confirm: "Are you sure?"}, class: "btn btn-secondary text-white" if booking.status == "pending" %>
            <%= link_to 'Noted!', booking_path(booking), data: {turbo_method: :delete}, class: "btn btn-secondary text-white" if booking.status == "rejected"%>
          </div>
        </div>
      <% end %>
    <% end %>
    <hr>
  </div>
</div>
