<div class="container">

    <div class="d-flex row justify-content-start flex-wrap">
      <% @bookings.each do |booking| %>
        <% if booking.status == "accepted" %>
          <div class="card m-4 background-grey" style="max-width: 540px;">
            <div class="d-flex row g-0">
              <div class="col-md-4 background-grey">
                <%= image_tag(booking.lesson.main_photo) %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <div class="booking-time d-flex justify-content-between  align-items-center">
                    <h5><%= booking.lesson.name %></h5>
                  </div>
                  <div class="booking-detail">
                    <p class="mb-0 card-title"><%= booking.start_date.to_s.split(" ")[0] %> <%= booking.start_time.to_s.split(" ")[1][0..4] %></p>
                    <p><strong></strong> Participant: <%= booking.user.first_name %>, <%= booking.participants %></p>
                    <p><strong>$<%= booking.lesson.fee %></strong> / person</p>
                  </div>
                  <div class="action-buttons d-flex justify-content-end">
                      <%= link_to 'DONE!', end_booking_path(booking), data: {turbo_method: :done, turbo_confirm: "Have you done with this lesson?"}, class: "btn btn-lightgreen me-2 btn-sm" %>
                      <%= link_to 'Detail', lesson_path(booking.lesson), class: "btn btn-success me-2 btn-sm" %>
                      <%= link_to 'Cancel', cancel_booking_path(booking), data: {turbo_method: :cancel, turbo_confirm: "Are you sure?"},  class: "btn btn-secondary text-white btn-sm" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>


    <div class="d-flex row justify-content-start flex-wrap">
      <% @my_applications.each do |booking| %>
        <% if booking.status == "accepted" %>
          <div class="card m-4 background-grey" style="max-width: 540px;">
            <div class="d-flex row g-0">
              <div class="col-md-4 background-grey">
                <%= image_tag(booking.lesson.main_photo) %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <div class="booking-time d-flex justify-content-between  align-items-center">
                    <h5><%= booking.lesson.name %></h5>
                  </div>
                  <div class="booking-detail">
                    <p class="mb-0 card-title"><%= booking.start_date.to_s.split(" ")[0] %> <%= booking.start_time.to_s.split(" ")[1][0..4] %></p>
                    <p><strong></strong> Participant: <%= booking.user.first_name %>, <%= booking.participants %></p>
                    <p><strong>$<%= booking.lesson.fee %></strong> / person</p>
                  </div>
                  <div class="action-buttons d-flex justify-content-end">
                      <%= link_to 'DONE!', end_booking_path(booking), data: {turbo_method: :done, turbo_confirm: "Have you done with this lesson?"}, class: "btn btn-lightgreen me-2 btn-sm" %>
                      <%= link_to 'Detail', lesson_path(booking.lesson), class: "btn btn-success me-2 btn-sm" %>
                      <%= link_to 'Cancel', cancel_booking_path(booking), data: {turbo_method: :cancel, turbo_confirm: "Are you sure?"},  class: "btn btn-secondary text-white btn-sm" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

</div>
