
<div class="margin-top">
  <div class="banner position-relative" style="background-image: url(https://images.unsplash.com/photo-1556910109-a14b4226abff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80); background-position: 30% 85%;">
  </div>
</div>

<div class="container">
  <div class="avatar-main d-flex">
    <div class="flex-avatar">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag(current_user.photo.key, { class: "avatar-profile" }) %>
      <% else %>
         <%= image_tag('person_02.jpg', class: "avatar-profile") %>
      <% end %>
    </div>
    <div class="user-info">
      <h3><%= current_user.first_name  %><span><%= link_to "Edit", edit_user_path(current_user), class: "edit-link" %></span></h3>
      <h5><i class="fa-solid fa-envelope"></i> <%= current_user.email %></h6>
      <p class="w-75 description">About me: I am excited to share with you my recipes. I have been cooking for almost 10 years. Most of my recipes are passed down from my grandmother
      I love cooking and I am really glad to be able to meet you. I would love to welcome individuals with open mind and share their story with me.</p>
    </div>
  </div>
  <p class="hidden">About me: I am excited to share with you my recipes. I have been cooking for almost 10 years. Most of my recipes are passed down from my grandmother
  I love cooking and I am really glad to be able to meet you. I would love to welcome individuals with open mind and share their story with me.</p>

</div>

  <div class="container mt-1">

    <% if @my_applications.count{ |app| app.status == "pending"} != 0 %>
      <div class="card card-in-prifie">
        <div class="profile-subtitle mt-3 d-flex align-items-center">
          <h3 class="me-4">Pending requests</h3>
          <h6 class="small-tag" style=" <%= "display: none;" if @my_applications.count{ |b| b.status == "pending" }.zero? %>">
            <%= @my_applications.count{ |b| b.status == "pending" } %> <%= @my_applications.count{ |b| b.status == "pending" } >= 2 ? "bookings are" : "booking is" %> waiting your confirmation
          </h6>
        </div>
          <%= render "users/bookings_list_pending" %>
          <p class="ms-5"><%= "There is no booking applications for my lesson." if @my_applications.count{ |b| b.status == "pending" }.zero? %></p>
      </div>
    <% end %>

  <div class="card card-in-prifie">
    <div class="profile-subtitle mt-3 d-flex align-items-center">
      <h3 class="me-4">My schedule</h3>
    </div>
    <%= render "users/my_schedule" %>
    <p class="ms-5"><%= "You have no scheduled lessons" if @my_applications.count{ |b| b.status == "accepted" }.zero? && @bookings.count{ |b| b.status == "accepted" }.zero? %></p>
  </div>

  <% if @user.bookings.any? %>
    <div class="card card-in-prifie">
      <div class="profile-subtitle mt-3 d-flex align-items-center">
        <h3 class="me-4">My Bookings</h3>
      </div>
      <%= render "users/bookings_condition" %>
      <p class="ms-5"><%= "You have no bookings" if @bookings.count{ |b| b.status == "pending" }.zero? && @bookings.count{ |b| b.status == "rejected" }.zero? %></p>
    </div>
  <% end %>

  <%# My lessons %>
  <div class="card card-in-prifie">
    <div class="profile-subtitle mt-3 d-flex align-items-center">
      <h3 class="me-4">My Lessons</h3>
      <h6 class="small-tag" style=" <%= "display: none;" if @lessons.count.zero? %>">
        <%= @lessons.count %> <%= @lessons.count >= 2 ? "lessons" : "lesson" %>
      </h6>
    </div>
    <%= render "lessons/lesson_list" %>
    <p class="ms-5"><%= "There is no lessons." if @lessons.count.zero? %></p>
  </div>
</div>
