<div class="cards-container">
  <% @lessons.each do |lesson| %>
    <% if lesson.user != current_user %>
      <div class="card position-relative">
        <% if lesson.photo.attached? %>
          <%= cl_image_tag lesson.photo.key, class: "lesson-img" %>
        <% elsif lesson.main_photo %>
          <%= image_tag "#{lesson.main_photo}", class: "lesson-img" %>
        <% end %>

        <%= render "lessons/action_buttons", lesson: lesson %>

          <div class="card-body d-flex flex-column justify-content-between">
            <h4 class="card-title"><%= lesson.name %></h4>
            <div class="lesson-tags">
              <ul class="p-0 d-flex flex-wrap">
                <li class="d-inline me-1 mb-1 tag"><i class="fa fa-solid fa fa-person me-1"></i> <%= lesson.capacity %></li>
                <li class="d-inline me-1 mb-1 tag"><i class="fa-solid fa-utensils me-1"></i> <%= lesson.cuisine_genre %> food</li>
                <li class="d-inline me-1 mb-1 tag"><i class="fa fa-solid fa fa-clock me-1"></i> <%= lesson.lesson_length_minutes %> min</li>
              </ul>
            </div>
            <p class="card-text"><%= lesson.description[...60] %>[...]</p>
            <div class="card-bottom d-flex justify-content-between align-items-center">
              <h5 class="mb-0"><strong>$<%= lesson.fee %></strong> / <i class="fa fa-solid fa fa-person me-1"></i></h5>
              <%= link_to 'See details', lesson_path(lesson), class: "btn btn-success w-75" %>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
