<div class="container my-5">
  <h1>LESSONS</h1>
  <p>PLEASE GIVE ME THE TEXT FOR HERE!!!</p>
  <hr class="mt-5">

  <%= render "lessons/lesson_card" %>

</div>

  <%# <%  @lessons.each do |lesson| %>
      <%# <%= lesson.id %>
      <%# <%= lesson.name %>
      <%# <%= lesson.address %>
      <%# <%= lesson.description %>
      <%# <%= lesson.capacity %>
      <%# <%= lesson.cuisine_genre %>
      <%# <%= lesson.fee %>
      <%# <%= lesson.lesson_length_minutes %>
      <%# <%= lesson.user.email %>
  <%# <% end %>
