
<div class="container my-5">

  <h1><%= @lesson.name %></h1>
  <ul class="p-0">
    <li class="d-inline me-3 tag"><i class="fa fa-solid fa fa-person me-2"></i> <%= @lesson.capacity %></li>
    <li class="d-inline me-3 tag"><i class="fa-solid fa-utensils me-2"></i> <%= @lesson.cuisine_genre %> food</li>
    <li class="d-inline me-3 tag"><i class="fa fa-solid fa fa-clock me-2"></i> <%= @lesson.lesson_length_minutes %> min</li>
  </ul>
  <p>Learn how to cook an amazing <%= @lesson.description %></p>

  <hr class="mt-5">

  <section class="row mt-5">
    <div class="col-12 col-lg-6 d-flex flex-column">
      <div class="d-flex align-items-center">
        <%= image_tag('person_02.jpg', class: "avatar-large")  %>
        <div class="ms-3">
          <p class="fw-bold m-0">Host: <%= @lesson.user.email %></p>
          <p class="m-0"><%= @lesson.user.lessons.count %> Verified lessons</p>
        </div>
      </div>
      <div class="my-3">
        <p>About me: lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptate doloremque odit cumque ipsam asperiores similique vitae eaque
        quae blanditiis quisquam! Iste nobis corrupti, rem mollitia facere maiores
        ex nihil possimus.</p>
      </div>
    </div>

    <div class="col-12 col-lg-6 bg-white p-4 rounded shadow-sm">
      <h3>Book your lesson with <%= @lesson.user.email %>!</h3>
      <% if user_signed_in? %>
        <%= render 'lessons/booking_form' %>
      <% else %>
        <p>You need to <%= link_to "login", new_user_session_path %> to book your lesson</p>
      <% end %>
    </div>
  </section>
</div>

<div class="section bg-white py-5">
  <div class="container">
    <section class="row">
      <div class="col-12 col-md-4">
        <h2 class="mb-4">Location</h2>
        <p class="fw-bold"><%= @lesson.address %></p>
        <ul class="p-0">
          <p class="mb-1">Instructions to get there:</p>
          <li class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
        </ul>
      </div>

      <div class="col-12 col-md-8">
        <%= image_tag('map.png') %>
      </div>
    </section>
  </div>
</div>


<div class="container my-5">
  <section class="mt-5">
    <h2 class="mb-4">Photos from past events</h2>
    <div class="photos-container">
      <div class="div1" style="background-image: url(https://images.unsplash.com/photo-1589047133531-570405874c6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
      </div>
      <div class="div2" style="background-image: url(https://images.unsplash.com/photo-1570604127008-f644337cfb8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
      </div>
      <div class="div3" style="background-image: url(https://images.unsplash.com/photo-1589047133481-02b4a5327d89?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80)">
      </div>
      <div class="div4" style="background-image: url(https://images.unsplash.com/photo-1612432524941-5afe13fa63d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2231&q=80)">
      </div>
      <div class="div5" style="background-image: url(https://images.unsplash.com/photo-1589047133531-570405874c6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
      </div>
    </div>
  </section>

</div>
