<div class="landing" style="height: 30vh; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556910109-a14b4226abff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80); background-position: 30% 85%;">
</div>


<div class="container my-5">
  <h1><%= @lesson.name %></h1>
  <ul class="p-0">
    <li class="d-inline me-3 tag"><i class="fa fa-solid fa fa-person me-2"></i> <%= @lesson.capacity %></li>
    <li class="d-inline me-3 tag"><i class="fa-solid fa-utensils me-2"></i> <%= @lesson.cuisine_genre %> food</li>
    <li class="d-inline me-3 tag"><i class="fa fa-solid fa fa-clock me-2"></i> <%= @lesson.lesson_length_minutes %> min</li>
  </ul>
  <p><%= @lesson.description %></p>

  <hr class="mt-5">

  <section class="row mt-5">
    <div class="col-12 col-lg-6 d-flex flex-column">
      <div class="d-flex align-items-center">
        <%= image_tag('person_02.jpg', class: "avatar-large")  %>
        <div class="ms-3">
          <p class="fw-bold m-0">Host: <%= @lesson.user.first_name %></p>
          <p class="m-0"><%= @lesson.user.lessons.count %> Verified lessons</p>
        </div>
      </div>
      <div class="my-3">
        <p>About me: I am excited to share with you my recipe. I have been cooking this dish for almost 10 years. This recipe has been passed down from my grandmother</p>
        <p>I love cooking this dish, and I am really glad to meet you. I would love to welcome individuals with open mind and share their story with me.</p>
      </div>
    </div>

    <div class="col-12 col-lg-6 bg-white p-4 rounded shadow-sm">
      <h3>Book your lesson with <%= @lesson.user.first_name %>!</h3>
      <% if user_signed_in? %>
        <%= render 'lessons/booking_form' %>
      <% else %>
        <p>You need to <%= link_to "login", new_user_session_path %> to book your lesson</p>
      <% end %>
    </div>
  </section>
</div>


<div class="section bg-white py-5">
  <div class="container">
    <section class="row">
      <div class="col-12 col-md-4">
        <h2 class="mb-4">Location</h2>
        <p class="fw-bold"><%= @lesson.address %></p>
        <ul class="p-0">
          <p class="mb-1">Access Instructions:</p>
          <li class="mb-1">From the station exit the north gates and head up the hill. </li>
          <li class="mb-1">After walking for 5 minutes you will see a children's park with a giant tree. It has a panda toy. Turn right towards the east, in front of the park. </li>
          <li class="mb-1">Along the road you will see big trees, they are pretty in spring with blossoms. About 5 mins you will see brown house made of bricks.</li>
          <li class="mb-1">There will be a red door with flowers hanging from the door handle.</li>
        </ul>
      </div>

      <div class="col-12 col-md-8">
        <%= image_tag('map.png') %>
      </div>
    </section>
  </div>
</div>


<div class="container my-5">
  <section class="mt-5">
    <h2 class="mb-4">Photos from past lessons</h2>
    <div class="photos-container">
      <div class="div1" style="background-image: url(https://images.unsplash.com/photo-1589047133531-570405874c6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
      </div>
      <div class="div2" style="background-image: url(https://images.unsplash.com/photo-1570604127008-f644337cfb8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
      </div>
      <div class="div3" style="background-image: url(https://images.unsplash.com/photo-1589047133481-02b4a5327d89?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80)">
      </div>
      <div class="div4" style="background-image: url(https://images.unsplash.com/photo-1612432524941-5afe13fa63d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2231&q=80)">
      </div>
      <div class="div5" style="background-image: url(https://images.unsplash.com/photo-1589047133531-570405874c6a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
      </div>
    </div>
  </section>

</div>
